<div class="card">

  <h2 class="team-name">{{teamDetail.name}}</h2>

  <hr />

  <div class="row">

    <div class="col">
      <p><strong>Country:</strong> {{teamDetail.country}}</p>
      <p><strong>Draws:</strong> {{teamDetail.draws}}</p>
      <p><strong>Games Played:</strong> {{teamDetail.games_played}}</p>
      <p><strong>Goal Differential:</strong> {{teamDetail.goal_differential}}</p>
    </div>

    <div class="col">
      <p><strong>Goals Against:</strong> {{teamDetail.goals_against}}</p>
      <p><strong>Goals For:</strong> {{teamDetail.goals_for}}</p>
      <p><strong>Group Letter:</strong> {{teamDetail.group_letter}}</p>
    </div>

    <div class="col">
      <p><strong>Group Points:</strong> {{teamDetail.group_points}}</p>
      <p><strong>Losses:</strong> {{teamDetail.losses}}</p>
      <p><strong>Wins:</strong> {{teamDetail.wins}}</p>
    </div>

  </div>

</div>
